@import "tailwindcss";

:root {
  --black: #111111;
  --off-black: #1b1b1b;
  --white: #ffffff;
  --off-white: #e2e2e2;
  --beige: #d0d2cc;
  --yellow: #feb800;
  --blue: #0988ef;
  --pink: #ff573b;
  --green: #018848;

  --background: var(--black);
  --foreground: var(--white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-off-black: var(--off-black);
  --color-white: var(--white);
  --color-off-white: var(--off-white);
  --color-beige: var(--beige);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-green: var(--green);
  --font-sans: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
